# Specfic files
graphql-types.ts

# Folders
__generated__
documentation
assets
_unused

# Extensions to ignore
*.json
*.js
*.config.*
*.graphql
*.graphql.ts
*.md
*.yml
*.csv
*.css
*.png
*.sh
*.svg
*.ico
*.jpg
*.template.*
